.container {
  width: 800px;
}

/*.container :not(:last-child) {
  margin-bottom: 10px;
}*/

/*.form-group :not(:last-child) {
  margin-right: 6px;
}*/

.form-group input {
  margin-bottom: 15px;
}

.organization-btn {
  width: 100%;
  height: 100%;
  white-space: normal;
  margin-bottom: 20px;
}